.latestNews  {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;

    @include onTable {
      font-size: 32px;
    }

    @include onDesign {
      font-size: 36px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
    gap: 16px;
    margin-right: 8px;


    @include onDesktop {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-bottom: 24px;
    border: 1px solid $c-black;
    cursor: pointer;

    @include onTable {
      width: 224px;
    }

    @include onDesktop {
      width: 23%;
    }
  }

  &__item:hover {
    box-shadow: -8px 7px $c-blue;
  }

  &__photo{
    min-width: 224px;
    object-fit: cover;
  }

  &__item-title {
    margin-bottom: 4px;
    margin-top: 11px;
    padding: 0 25px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;


    @include onTable {
     font-size: 14px;
    }

    @include onDesign {
      font-size: 16px;
    }
  }

  &__article {
    display: block;
    margin-bottom: 24px;
    padding: 0 25px;
    font-size: 16px;
    line-height: 24px;
    white-space: wrap;

    @include onTable {
      padding: 0 16px;
      font-size: 14px;
      line-height: 22px;
    }

    @include onDesign {
      padding: 0 25px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__slidecontainer {
    width: 100%;

    @include onDesktop {
      display: none;
    }
  }

  &__slider {
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
      opacity: 1;
  }

  &__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 16px;
    background: $c-black;
    cursor: pointer;

    @include onTable {
      width: 428px;
    }
  }

  &__slider::-moz-range-thumb {
    width: 120px;
    height: 16px;
    background: $c-black;
    cursor: pointer;

    @include onTable {
      width: 428px;
    }
  }
}




