.main {
  padding: 25px 24px;

 &--dark {
  background-color: $c-black;
  color: $c-white;
 }

  @include onTable {
    padding: 25px 33px;
  }

  @include onDesktop {
    padding: 25px 39px;
  }

  @include onDesign {
    padding: 32px 71px;
  }

  @include onDesignPlus {
    padding: 32px 112px;
  }

  &.blur {
    filter: blur(7.5px);
    -webkit-filter: blur(7.5px);
  }

  &__hero {
    margin-bottom: 49px;

    @include onTable {
      margin-bottom: 70px;
    }

    @include onDesign {
      margin-bottom: 88px;
    }
  }

  &__latestNews {
    margin-bottom: 72px;

    @include onTable {
      margin-bottom: 59px;
    }

    @include onDesign {
      margin-bottom: 80px;
    }
  }
 }
