.slider {

  &__item {
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__photo {
    display: flex;
    transition: all ease 1s;
  }

  &__photo-item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    background-position: center;
    object-fit: cover;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 73px;;
    left: 28px;
    z-index: 99;
  }

  &__button-item {
    display: flex;
    width: 24px;
    height: 100%;
    margin-right: 16px;
    cursor: pointer;

    @include onTable {
      width: 32px;
    }

    @include onDesign {
      width: 47px;
    }
  }

  &__button-item:hover {
    transform: translateY(-3px);
  }

  &__number {
    display: flex;
    align-items: center;
     padding: 0 16px;
    font-weight: 400;
    font-size: 18px;
    color: $c-white;

    @include onTable {
      font-size: 24px;
    }

    @include onDesign {
      font-size: 36px;
      padding: 0 24px;
    }
  }

  &__number-curent {
    font-weight: 700;
  }
}
